@charset "UTF-8";

.content {
  margin-top: 32px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.staff_form th {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse:separate;
  border-spacing:10px 0;
}

input {
  width: 100%;
}


/* .staff_form input[type="text"] {
  width: 100%;
}

.staff_form input[type="button"] {
  width: 100%;
} */
